In [2]:
import pandas as pd
import numpy as np
import requests

# Step 1: Read the JSON file saved in ex02
df = pd.read_json('../auto.json')

# Step 2: Set float display format
pd.options.display.float_format = '{:.2f}'.format

# Step 3: Create a sample with 200 new observations
sample_df = df.sample(n=200, random_state=21)

# Step 4: Concatenate the sample with the initial dataframe
concat_rows = pd.concat([df, sample_df], ignore_index=True)

# Step 5: Create a new column 'Year' with random integers from 1980 to 2019
np.random.seed(21)
years = np.random.randint(1980, 2020, size=concat_rows.shape[0])
year_series = pd.Series(years, name='Year')
fines = pd.concat([concat_rows, year_series], axis=1)
fines.to_csv('../fines.csv', index=False)

In [5]:
# Step 6: Create a new dataframe with car numbers and their owners
surnames_df = pd.read_json('../../datasets/surname.json')
surnames_df.columns = surnames_df.iloc[0]
surnames_df = surnames_df[1:]

# Step 2: Clean the surnames to remove special characters
surnames_df['NAME'] = surnames_df['NAME'].str.replace(r'[^\w\s]', '', regex=True)
cleaned_surnames = surnames_df['NAME'].tolist()

# Step 3: Create a Series of surnames with a count equal to the number of unique car numbers
unique_car_numbers = concat_rows['CarNumber'].unique()
num_unique_cars = len(unique_car_numbers)

np.random.seed(21)
surnames_sample = pd.Series(np.random.choice(cleaned_surnames, size=num_unique_cars, replace=True))

# Step 4: Create the owners DataFrame
owners = pd.DataFrame({
    'CarNumber': unique_car_numbers,
    'SURNAME': surnames_sample
})
# Step 7: Append 5 more observations to the fines dataframe
additional_fines = pd.DataFrame({
    'CarNumber': ['ABC123', 'XYZ789', 'LMN456', 'DEF321', 'GHI654'],
    'Fines': [100.0, 200.0, 150.0, 300.0, 250.0]
})

# Step 8: Delete the last 20 observations from the owners and add 3 new observations
owners = owners[:-20]
new_owners = pd.DataFrame({
    'CarNumber': ['JKL987', 'MNO543', 'PQR321'],
    'SURNAME': ['Smith', 'Johnson', 'Williams']
})
owners = pd.concat([owners, new_owners], ignore_index=True)

# Step 9: Join both dataframes
# only car numbers that exist in both dataframes
inner_join = pd.merge(concat_rows, owners, on='CarNumber', how='inner')

# all car numbers that exist in both dataframes
outer_join = pd.merge(concat_rows, owners, on='CarNumber', how='outer')

# only car numbers from the fines dataframe
left_join = pd.merge(concat_rows, owners, on='CarNumber', how='left')

# only car numbers from the owners dataframe
right_join = pd.merge(concat_rows, owners, on='CarNumber', how='right')

# Step 10: Create a pivot table from the fines dataframe
pd.pivot_table(fines,
               columns='Year',
               values='Fines',
               index=['Make', 'Model'],
               aggfunc={'Fines': np.sum})

/tmp/ipykernel_8858/109075749.py:50: FutureWarning: The provided callable <function sum at 0x77bb78b123e0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pd.pivot_table(fines,

Year                    1980      1981      1982     1983     1984      1985  \
Make       Model
Ford       Focus   110294.59 408983.76 165883.76 64800.00 96989.17 162683.76
           Mondeo        NaN       NaN       NaN      NaN      NaN       NaN
Skoda      Octavia   2400.00       NaN   7300.00 11594.59      NaN  10294.59
Toyota     Camry    12000.00   8594.59       NaN  7200.00      NaN       NaN
           Corolla       NaN       NaN   2000.00      NaN      NaN       NaN
Volkswagen Golf     30900.00       NaN       NaN  8594.59   300.00  24000.00
           Jetta         NaN       NaN       NaN      NaN      NaN       NaN
           Passat        NaN   1600.00       NaN  3200.00 10000.00   5000.00
           Touareg       NaN       NaN       NaN      NaN      NaN   5800.00

Year                   1986      1987      1988      1989  ...      2010  \
Make       Model                                           ...
Ford       Focus   96589.17 125700.00 111789.17 176094.59  ... 142678.35
           Mondeo       NaN       NaN       NaN   8600.00  ...       NaN
Skoda      Octavia   600.00   5200.00   5200.00  91400.00  ...   3100.00
Toyota     Camry        NaN       NaN       NaN  22400.00  ...       NaN
           Corolla      NaN  14900.00       NaN   4000.00  ...  24000.00
Volkswagen Golf         NaN  44800.00       NaN   5800.00  ...       NaN
           Jetta        NaN       NaN       NaN       NaN  ...       NaN
           Passat  15000.00  12300.00       NaN       NaN  ...   2800.00
           Touareg      NaN       NaN       NaN       NaN  ...   6300.00

Year                    2011     2012      2013      2014      2015     2016  \
Make       Model
Ford       Focus   103478.35 97100.00 139394.59 122678.35 209100.00 98089.17
           Mondeo        NaN 34400.00       NaN       NaN       NaN 46200.00
Skoda      Octavia    500.00   500.00  12594.59    300.00  46394.59   300.00
Toyota     Camry         NaN  8594.59       NaN   1000.00       NaN      NaN
           Corolla   8594.59 30300.00       NaN       NaN       NaN   900.00
Volkswagen Golf       300.00      NaN  20800.00       NaN   2300.00      NaN
           Jetta         NaN      NaN       NaN       NaN       NaN      NaN
           Passat        NaN      NaN       NaN       NaN    600.00  2100.00
           Touareg       NaN      NaN       NaN   1300.00    500.00      NaN

Year                    2017      2018     2019
Make       Model
Ford       Focus   263000.00 274089.17 78889.17
           Mondeo        NaN       NaN      NaN
Skoda      Octavia   8594.59 156200.00  9500.00
Toyota     Camry         NaN  21594.59 18100.00
           Corolla   9600.00   7600.00      NaN
Volkswagen Golf          NaN   1000.00      NaN
           Jetta         NaN       NaN      NaN
           Passat        NaN       NaN      NaN
           Touareg       NaN       NaN      NaN

[9 rows x 40 columns]