In [1]:
import pandas as pd

df = pd.read_csv('../feed-views.log', sep='\t', skiprows=[2, 3], skipfooter=2, engine='python')
df.columns = ['datetime', 'user']
df.set_index('datetime', inplace=True)
df.index.name = 'date_time'
df.to_csv('feed-views-semicolon.log', sep=';')

In [3]:
df.head()

                              user
date_time
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana
2020-04-17 13:55:19.129243   artem

In [4]:
df.tail()

                                 user
date_time
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel